* {
    margin: 0;
    padding: 0;
}

html {
    background-color: rgb(245, 248, 250);
    color: #333;
    padding: 16px 16px;
}

body {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    padding: 12px 16px;
}

h1 {
    margin-bottom: 16px;
}

.search-field-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.search-field {
    min-width: 3em;
    flex-grow: 1;
}

.search-container {
    width: 100%;
    max-width : 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
}

.search-count {
    color: #666;
    font-size: 80%;
}

.search-results li {
    margin: 0 1em;
}
